future
emoji
lxml
wget
beautifulsoup4
requests
python-telegram-bot==12.8
sqlalchemy==1.3.23
psycopg2-binary
feedparser
hachoir
pynewtonmath
spongemock
zalgo-text
gtts
geopy
nltk
psutil
aiofiles
aiohttp>=2.2.5
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
lyricsgenius
tswift
python-arq
envparse
Pillow
CurrencyConverter
#googletrans
google_trans_new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
telegraph
fontTools
odmantic
loguru
youtube_search_python
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram==1.4.16
youtube-dl
youtube_search
asyncio
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
opencv-python-headless
bing_image_downloader
search_engine_parser
pytz
motor
cloudscraper
